$black: #666;
$white: #fff;
$grey: #768b9e;
$grey2: #f7f7f7;
$grey3: #ededed;
$grey4: #dfdfe1;
$grey5: #d9dee4;
$navy: #2a3e56;
$navyhover: #31475c;
$green: #26ba9a;
$pink: #fe6287;
$yellow: #f1ac4f;
$red: #db514f;
$blue: #327eb0;
